@font-face {
  font-family: 'Tilt Neon';
  src:
    url('/fonts/tiltneon.woff2') format('woff2'),
    url('/fonts/tiltneon.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
