.cursor {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: white;
  opacity: 0.8;
  pointer-events: none;
  will-change: transform;
  mix-blend-mode: difference;
  filter: saturate(5) hue-rotate(75deg);
}
